In [1]:
import numpy as np 
import pandas as pd

In [2]:
d = {'A':[1,4, np.nan], 'B':[3, np.nan, np.nan], 'C':[1,5,9]}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  3.0  1
1  4.0  NaN  5
2  NaN  NaN  9