In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']
my_data = [20, 10, 40]
arr = np.array(my_data)
d = {'a': 20, 'b': 10, 'c': 40}

In [4]:
pd.Series(my_data, labels)

a    20
b    10
c    40
dtype: int64

In [5]:
pd.Series(arr, labels)

a    20
b    10
c    40
dtype: int64

In [6]:
pd.Series(d)

a    20
b    10
c    40
dtype: int64

In [8]:
ser1 = pd.Series([3,1,5,7,6], ['KE', 'UG', 'Rw', 'TZ', 'SA'])
ser1

KE    3
UG    1
Rw    5
TZ    7
SA    6
dtype: int64